@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: local('VT323'), local('VT323-Regular'), url(http://themes.googleusercontent.com/static/fonts/vt323/v4/LfMzj2MWAZU6qzlnp1MNbg.woff) format('woff');
}

* { 
	background-image: none !important;
	background: black !important;
	color: #00ff00 !important;
	font-family: 'VT323', monospace !important;
	border-color: #00ff00 !important;
	cursor: url('chrome-extension://__MSG_@@extension_id__/images/cursor.png') !important;
}

*:hover {
	cursor: url('chrome-extension://__MSG_@@extension_id__/images/cursor.png') !important;
}

::-webkit-input-placeholder {
	color: green;
}

:before,:after {
	background-image: none !important;
}

html,img,input[type=image] { /*html,div,a,input */
	-webkit-filter: custom(
		none
		mix(url('chrome-extension://__MSG_@@extension_id__/shader/retro.fs') normal source-atop),
		1 1) !important;
}

object {
	display: none !important;
}

#chrome-retro-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url('chrome-extension://__MSG_@@extension_id__/images/overlay.png') repeat !important;
	pointer-events:none;
	-webkit-filter: none !important;
	-webkit-animation: myfirst 0.3s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 123456789;
}

@-webkit-keyframes myfirst
{
	from { top: -6px; }
	to { top: 0px; }
}

*::-webkit-scrollbar {
	background-color: black;
	border: 1px solid #00ff00;
    width: 12px;
}

*::-webkit-scrollbar-thumb {
	background-color: #00ff00 !important;
	width: 12px;
}

#chrome-retro-game-link {
	position: fixed;
	right: 0;
	bottom: 0;
	height: 64px;
	width: 64px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/ohmy.jpg') !important;
	z-index: 9123456789;
}

#donkeyCanvas {
	top: 0;
	position: fixed;
	z-index: 9123456788;
}